html, body {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes slidetop {
    from {
        transform: translateY(-75px);
    }
    to {
        transform: translateY(0);
    }
    0%, 100% {opacity: 1;}
    0.001% {opacity: 0;}
}

@keyframes slidebawah {
    from {
        transform: translateY(75px);
    }
    to {
        transform: translateY(0);
    }
    0%, 100% {opacity: 1;}
    0.001% {opacity: 0;}
}

@keyframes slidekanan {
    from {
        transform: translateX(75px);
    }
    to {
        transform: translateX(0);
    }
    0%, 100% {opacity: 1;}
    0.001% {opacity: 0;}
}

@keyframes slidekiri {
    from {
        transform: translateX(-75px);
    }
    to {
        transform: translateX(0);
    }
    0%, 100% {opacity: 1;}
    0.001% {opacity: 0;}
}

@keyframes fade {
    0%, 100% {opacity: 1;}
    0.001% {opacity: 0;}
}

@keyframes about {
    transform {}
}

.middle {
    display: flex;
    justify-content: center;
}